/* reset5 Â© 2011 opensource.736cs.com MIT */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;}article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{display:block;}nav ul{list-style:none;}ol{list-style:decimal;}ul{list-style:disc;}ul ul{list-style:circle;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}ins{text-decoration:underline;}del{text-decoration:line-through;}mark{background:none;}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input[type=submit],input[type=button],button{margin:0!important;padding:0!important;}input,select,a img{vertical-align:middle;}
body {
	background: #000;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	}
	.wrapper {
		width: 100%;
		height: 100%;
		position: relative;
		padding: 50px 0 0 0;
		}
		a#switchbutton {
			display: block;
			height: 20%;
			width: 70%;
			text-align: center;
			background: url(../images/pulse1.png) no-repeat center center;
			background-size: contain;
			color: white;
			text-transform: uppercase;
			font-size: 18px;
			text-decoration: none;
			position: absolute;
			bottom: 120px;
			left: 15%;
			}
		
		#bol {
			width: 80%;
			height: 50%;
			margin: 0 auto;
			background: url(../images/off.png) no-repeat center center;
			background-size: contain;
			}
			.top {
				background-image: url(../images/top.png)!important;
				}
			.bot {
				background-image: url(../images/down.png)!important;
				}
			.mid1 {
				background-image: url(../images/middle-down.png)!important;
				}
			.mid2 {
				background-image: url(../images/middle-top.png)!important;
				}
		.loading {
			position: absolute;
			z-index: 100;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000;
			text-align: center;
			}
			.loading img {
				margin: 50px 0 0 0;
				height: 45%;
				width: auto;
				}
		.flash {
			position: absolute;
			z-index: 99;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #fff;
			}
		.messages {
			width: 50%;
			float: left;
			}
			.messages ul {
				height: 50%;
				overflow-y: scroll;
				}
				.messages ul li:first-child {
					font-weight: bold;
					}
.hide {
	display: none;
	}